<div class="page-header">
  <h1><%=t '.title', :default => "Follow" %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>スクリーンネーム</th>
    </tr>
  </thead>
  <tbody>
    <% @follow_users.each do |user| %>
      <tr>
        <td><%= link_to user.screen_name, "#" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
